.carousel {
  background-color: #000;
  margin: 0;
  padding: 10px 0;
}
.main-container {
    position: relative;
    overflow: hidden;
    margin: 10% auto;
    border: 5px ridge #66586D;
}
.carousel-container {
    display: flex;
    align-items: flex-start;
    overflow-x: visible;
  }  
.carousel-image {
    object-fit: fill;
  }
.btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    width: 40px;
    height: 40px;
    top: 50%;
    border: none;
    outline: none;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
.right {
    right: 5px;
  }
.left {
    left: 5px;
  }
.nav-btns {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center; 
    bottom: 10px;
  }
.select-btns {
    left: 30%;
    border-radius: 25px;
    border: none;
    outline: none;
    align-items: center;
    height: 10px;
    font-size: 8px;
    cursor: pointer;
    color: whitesmoke;
    background-color: whitesmoke;
  }
.currently-selected {
    background-color: darkslategray;
    color: darkslategrey;
  }


