body{
  background-color: #000;
}
.main-container {
    position: relative;
    overflow: hidden;
    margin: 10% auto;
}

.carousel-container {
    display: flex;
    overflow-x: visible;
    transition-property: transform;
    will-change: transform;
    align-items: flex-start;
  }
  
  .carousel-image {
    object-fit: cover;
  }

  .btn{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    width: 40px;
    height: 40px;
    top: 50%;
    border: none;
    outline: none;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  .right{
    right: 5px;
  }
  .left{
    left: 5px;
  }
  .nav-btns{
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center; 
    bottom: 10px;
  }
  .selected-img{
    left: 30%;
    border-radius: 25px;
    border: none;
    outline: none;
    align-items: center;
}

.currently-selected{
    background-color: chocolate;
}


