.main-container {
    background-color: #000;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    overflow-x: visible;
    transition-property: transform;
    will-change: transform;
    align-items: flex-start;
  }
  
  .carousel-image {
    object-fit: fill;
  }

  .btn{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: 50%;
    border: 0;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  .right{
    right: 5px;
  }
  .left{
    left: 5px;
  }

  .selected-img{
   
    left: 30%;
    font-size: 28px;
    border-radius: 25px;
    border: none;
    outline: none;
    align-items: center;
}

.currently-selected{
    background-color: chocolate;
}


